{% extends 'base.html.twig' %}

{% block title %}Edit Tags{% endblock %}

{% block body %}
    <div class="main-container mt-4">
    <h1>Edit Tags</h1>

    {{ include('admin/tags/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_tags_index') }}">back to list</a>

    </div>
{% endblock %}